<section class="page">
  <div *ngIf="!data">
    <h1 class="outfit title">Retrieving informations, Please wait...</h1>
  </div>
  <div *ngIf="data" class="card">
    <h1 class="outfit title">Success !</h1>

    <button (click)="copyAccessToken()" class="btn btn-primary">Copy Access Token</button>
    <button (click)="copyRefreshToken()" class="btn btn-primary">Copy Refresh Token</button>

    <h2 class="outfit">Expires On</h2>
    <p class="outfit">{{ expiresOn | date : "long" }}</p>

    <button (click)="generateSecretsFile()" class="btn btn-success">Generate Secrets File</button>
  </div>
</section>
