.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-input {
  display: none;
}
