<input type="file"
       class="file-input"
       accept="application/json"
       (change)="onFileSelected($event)"
       #fileUpload
>

<div>
   <h2 class="outfit">{{fileName || "No file uploaded yet."}}</h2>

    <button class="btn btn-primary"
      (click)="fileUpload.click()">
      <i class="bi bi-upload"></i>
      Upload Config File
    </button>
</div>

<app-event-modal
  *ngIf="showEventModal"
  [event]="selectedEvent"
  (onSubmit)="saveEvent($event)"
  (onClose)="closeModal()"
></app-event-modal>

<button class="btn btn-primary" (click)="openModal()">Register New Event</button>
<button class="btn btn-primary" (click)="generateConfig()">Generate Config File</button>

<div class="container">
    <app-event-card
      *ngFor="let event of events"
      [event]="event"
      (onDelete)="deleteEvent(event)"
      (onOpenModal)="openModal(event)"
    ></app-event-card>
</div>
