<input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   <h2>{{fileName || "No file uploaded yet."}}</h2>

    <button class="btn btn-primary"
      (click)="fileUpload.click()">
      Upload Config File
    </button>
</div>

<app-event-modal
  *ngIf="showEventModal"
  [event]="selectedEvent"
  (onSubmit)="saveEvent($event)"
  (onClose)="closeModal()"
></app-event-modal>

<button class="btn btn-primary" (click)="openModal()">Register New Event</button>
<button class="btn btn-primary" (click)="generateConfig()">Generate Config File</button>

<div class="container">
    <app-event-card
      *ngFor="let event of events"
      [event]="event"
      (onDelete)="deleteEvent($event)"
      (onOpenModal)="openModal(event)"
    ></app-event-card>
</div>
